#register-board {
  background-color: #fff;
  border-radius: 20px;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

input {
  width: 300px;
  margin-bottom: 20px;
}
main {
  background-color: #f0eee2;
}

button {
  background-color: #0e1122;
  border: none;
  color: #fff;
  padding: 8px 45px;
  border-radius: 40px;
  transition: all, 0.3s;
}

button:hover {
  background-color: #0e1122b0;
  text-decoration: none;
}
