#root {
  height: 100vh;
}
.container-fluid {
  width: 100vw;
  height: 100%;
}

#left {
  background-color: #f0eee2;
}

#right {
  background-color: #fdfcf7;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: all, 3s;
}
button:hover {
  text-decoration: underline;
}
h1 {
  font-size: 60px;
}
.subtitle {
  font-size: 15px;
}

#left-upper {
  height: 40%;
}

#left-down {
  height: 60%;
}

#img {
  top: 0;
  left: 46%;
}
#img img {
  height: 800px;
  width: 800px;
}
.login {
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  width: 500px;
  height: 500px;
}
